In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\mlp\placementdata (1).csv")

In [5]:
df

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,72,3.9,Yes,No,85,66,NotPlaced
9996,9997,7.4,0,1,0,90,4.8,No,No,84,67,Placed
9997,9998,8.4,1,3,0,70,4.8,Yes,Yes,79,81,Placed
9998,9999,8.9,0,3,2,87,4.8,Yes,Yes,71,85,Placed
9999,10000,8.4,0,1,1,66,3.8,No,No,62,66,NotPlaced

In [6]:
df.isna().sum()

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df=df.drop(columns=["StudentID"])

In [9]:
df["PlacementStatus"].value_counts()

PlacementStatus
NotPlaced    5803
Placed       4197
Name: count, dtype: int64

In [10]:
df["ExtracurricularActivities"].value_counts()

ExtracurricularActivities
Yes    5854
No     4146
Name: count, dtype: int64

In [11]:
df["PlacementTraining"].value_counts()

PlacementTraining
Yes    7318
No     2682
Name: count, dtype: int64

In [12]:
df["PlacementStatus"]=df["PlacementStatus"].replace({"Placed":1,"NotPlaced":0})

C:\Users\Hp\AppData\Local\Temp\ipykernel_19840\4003944705.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["PlacementStatus"]=df["PlacementStatus"].replace({"Placed":1,"NotPlaced":0})

In [13]:
df["PlacementStatus"].value_counts()

PlacementStatus
0    5803
1    4197
Name: count, dtype: int64

In [14]:
label=["PlacementTraining","ExtracurricularActivities"]

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [16]:
for i in label:
  df[i]=le.fit_transform(df[i])

In [17]:
x=df.drop(columns=["PlacementStatus"])
y=df["PlacementStatus"]

In [18]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
x_scaled=mm.fit_transform(x)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=42)

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
models=[DecisionTreeClassifier(),KNeighborsClassifier(),SVC(),GaussianNB()]
for model in models:
  model.fit(x_train,y_train)
  y_pred=model.predict(x_test)
  print(model)
  print("---------------------")
  print(f"Accuracy:{accuracy_score(y_test,y_pred)}")
  print(classification_report(y_test,y_pred))
  print(confusion_matrix(y_test,y_pred))
  from sklearn.model_selection import cross_val_score
  print(f"Cross Validation Score:{cross_val_score(model,x,y,cv=5).mean()}")
  print("_________________________________________________")

DecisionTreeClassifier()
---------------------
Accuracy:0.726
              precision    recall  f1-score   support

           0       0.77      0.76      0.76      1172
           1       0.67      0.68      0.67       828

    accuracy                           0.73      2000
   macro avg       0.72      0.72      0.72      2000
weighted avg       0.73      0.73      0.73      2000

[[890 282]
 [266 562]]
Cross Validation Score:0.7115
_________________________________________________
KNeighborsClassifier()
---------------------
Accuracy:0.7705
              precision    recall  f1-score   support

           0       0.80      0.81      0.80      1172
           1       0.73      0.72      0.72       828

    accuracy                           0.77      2000
   macro avg       0.76      0.76      0.76      2000
weighted avg       0.77      0.77      0.77      2000

[[947 225]
 [234 594]]
Cross Validation Score:0.7651999999999999
_________________________________________________
SVC()
---------------------
Accuracy:0.7955
              precision    recall  f1-score   support

           0       0.83      0.82      0.83      1172
           1       0.75      0.75      0.75       828

    accuracy                           0.80      2000
   macro avg       0.79      0.79      0.79      2000
weighted avg       0.80      0.80      0.80      2000

[[966 206]
 [203 625]]
Cross Validation Score:0.787
_________________________________________________
GaussianNB()
---------------------
Accuracy:0.7935
              precision    recall  f1-score   support

           0       0.85      0.79      0.82      1172
           1       0.73      0.80      0.76       828

    accuracy                           0.79      2000
   macro avg       0.79      0.79      0.79      2000
weighted avg       0.80      0.79      0.79      2000

[[925 247]
 [166 662]]
Cross Validation Score:0.7954
_________________________________________________

In [21]:
#from sklearn.model_selection import GridSearchCV
#dict1={'C': [0.1, 1, 10, 100],'kernel': ['linear', 'rbf', 'poly']}
#tuner=GridSearchCV(estimator=SVC(), param_grid=dict1, cv=5)
#tuner.fit(x_scaled,y)

In [22]:
#tuner.best_params_

In [23]:
#tuner.best_score_

In [24]:
#tuner.best_estimator_

In [25]:
#best_model=tuner.best_estimator_

In [26]:
final_model=SVC()
final_model.fit(x_scaled,y)
final_pred=final_model.predict(x_test)
print(accuracy_score(y_test,final_pred))
print(classification_report(y_test,final_pred))
print(confusion_matrix(y_test,final_pred))

0.8015
              precision    recall  f1-score   support

           0       0.83      0.83      0.83      1172
           1       0.76      0.76      0.76       828

    accuracy                           0.80      2000
   macro avg       0.80      0.80      0.80      2000
weighted avg       0.80      0.80      0.80      2000

[[973 199]
 [198 630]]

In [27]:
dict1={"encoder":le,"model":final_model,"scaler":mm}

In [28]:
import pickle
with open('main.pkl','wb') as obj1:
  pickle.dump(dict1,obj1)